<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Minos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Include jQuery first -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Select2 -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <!-- Include vis.js Library -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vis-network@9.0.0/umd/vis-network.min.js"></script>

    <!-- Now include your own JS script -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div class="image-section">
        <h1 class="navigation-title">Minos</h1>
        <p class="navigation-title-desc">Patient Map Management System</p>
        <img
          src="{{ url_for('static', filename='images/maze-background.png') }}"
          alt="Background Image"
        />
      </div>
      <div class="navigation-section">
        <ul>
          <li><a href="{{ url_for('main.index') }}">Home</a></li>
          <li><a href="{{url_for('main.chars')}}">Characteristics</a></li>
          <li><a href="{{ url_for('main.drugs') }}">Drugs</a></li>
          <li><a href="{{ url_for('main.treatments') }}">Treatments</a></li>
          <li><a href="{{ url_for('main.patients') }}">Patients</a></li>
        </ul>
      </div>
      <div class="form-section">{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>
