<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patients</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles_patient.css') }}"
    />
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div class="image-section">
        <h2 class="navigation-title">Minos</h2>
        <p class="navigation-title-desc">Patient Map Management System</p>
      </div>
      <div class="navigation-section">
        <ul>
          <li><a href="{{ url_for('main.index') }}">Home</a></li>
          <li><a href="{{url_for('main.chars')}}">Characteristics</a></li>
          <li><a href="{{ url_for('main.drugs') }}">Drugs</a></li>
          <li><a href="{{ url_for('main.treatments') }}">Treatments</a></li>
        </ul>
      </div>

      <!-- Patient Form Section -->
      <div class="form-section">
        <h1>Patient Data Entry</h1>
        <form action="{{ url_for('main.patients') }}" method="POST">
          <label for="population">Population:</label>
          <select name="population" id="population" required>
            {% for pop in all_pops %}
              <option value="{{ pop.name }}">{{ pop.name }}</option>
            {% endfor %}
          </select>

          <label for="primary_indication">Primary Indication:</label>
          <select name="primary_indication" id="primary_indication" required>
            {% for pi in all_pis %}
              <option value="{{ pi.name }}">{{ pi.name }}</option>
            {% endfor %}
          </select>

          <label for="characteristics">Characteristics:</label>
          <select name="characteristics" id="characteristics" multiple>
            {% for char in all_chars %}
              <option value="{{ char.name }}">{{ char.name }}</option>
            {% endfor %}
          </select>

          <label for="size">Size:</label>
          <input type="number" name="size" id="size" required />

          <button type="submit">Add Patient</button>
        </form>
      </div>
    </div>
  </body>
</html>
